<!-- navbar -->
<div class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="../../../assets/helplog.png" alt="Logo" height="40"></a>
        <a class="navbar-brand" href="index.html">Helping Hands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                <a class="nav-link" routerLink="aboutUs">About Us</a>
                <a class="nav-link" routerLink="contactUs">Contact Us</a>
                <a class="nav-link" routerLink="register">Registration</a>
            </div>
        </div>
        <!-- website links -->
        <div class="d-flex">
            <a href="https://www.youtube.com/user/magicbusin" class="btn" target="_blank"><img
                    src="../../../assets/Yt logo4.png" alt="youtube" height="30px"></a>
            <a href="https://www.linkedin.com/company/magic-bus" class="btn" target="_blank"><img
                    src="../../../assets/li.png" alt="linkedin" height="30px"></a><br>
            <a href="https://www.instagram.com/magic.bus/?igshid=d015ho4390vg" class="btn" target="_blank"><img
                    src="../../../assets/insta.jpeg" alt="insta" height="30px"></a>
        </div>
    </div>
</div>
