<!-- image -->


<div class="inner-banner">
    <img style="width: 100%; height:400px;" src="../../../assets/About US.png">
</div>


<!-- A legacy of Empowerment -->
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1> <b style="border-bottom: 4px solid #fdcd0a;padding-bottom: 10px;color: #666; width: 500px;">A Legacy
                    of
                    Empowerment</b></h1>

            <p style="padding-top:10px;">"Magic Bus is one of the top five NGOs in the education and skilling space in India. Founded inpx
                Mumbai in
                1999, we have grown into an organisation with a pan-India presence. Magic Bus works with young
                people
                living in poverty, taking them from a childhood full of challenges to a life with meaningful
                livelihoods. We work with young people’s ecosystems (parents, peers, community, and local
                institutions)
                sto create a network of support for them."</p>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/aboutus1.jpg" style="width: 500px;">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <iframe
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen frameborder="0" height="330" src="https://www.youtube.com/embed/NRLpqKHihFk"
                title="YouTube video player" width="100%">…</iframe>
        </div>
        <div class="col-6">
            <p>"Through our programmes focused on life skills education, employability skilling and education
                enhancement, Magic Bus ensures;"</p>
            <ul>
                <li>"Adolescents complete secondary education"</li>
                <li>"Youth are equipped for gainful employment"</li>
            </ul>
        </div>

    </div>
    <br>

    <div class="container">
        <div class=" row">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1>
                        <b style="border-bottom: 4px solid #fdcd0a;padding-bottom: 10px;color: #666; width: 500px;">Our
                            Vision</b>
                    </h1>
                    <img src="../../../assets/Our vision.jpg" style="padding-top: 10px;">
                    <p>"A world where young people"<sup style="color:red;">[1]</sup>" break out of poverty to lead
                        fulfilling, rewarding lives and contribute positively to their communities."</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="text-center">
                    <h1>
                        <b style="border-bottom: 4px solid #fdcd0a;padding-bottom: 10px;color: #666; width: 500px;">Our
                            Mission</b>
                    </h1>
                    <img src="../../../assets/Our Mission.jpg" style="padding-top: 10px;">
                    <p>"To equip vulnerable young people"<sup style="color:red;">[1]</sup>" with life skills"<sup
                            style="color:red;">[2]</sup>" that enable them to thrive in the transition to
                        adulthood."</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <h1>
                        <b style="border-bottom: 4px solid #fdcd0a;padding-bottom: 10px;color: #666; width: 500px;">Our
                            Core Value </b>
                    </h1>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-center pt-3">
                        <img src="../../../assets/Our Core Value.jpg" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 30px;">
    <div class="row ">
        <div class="col">
            <div class="text-center">
                <h4><b>passsion:</b></h4>
            </div>
            <p style="text-align: center;">We will work with entrepreneurial zeal to achieve organisational
                objectives.</p>
        </div>
        <div class="col">
            <div class="text-center">
                <h4><b>Itegrity:</b></h4>
                <p style="text-align: center;">We will be truthful to ourselves and Magic Bus.</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4><b>Respect:</b></h4>
                <p style="text-align: center;">"We will respect our internal and external stakeholders, diversity of
                    people, ideas & culture."</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4><b>Innovation:</b></h4>
                <p style="text-align: center;">We will promote viable and implementable innovation at our workplace.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h4><b>collaboration:</b></h4>
                <p style="text-align: center;">"We will always be a united team at Magic Bus by upholding our core
                    purpose, cooperating with each other and honouring one another’s commitments."</p>
            </div>
        </div>
    </div>

</div>